{% extends 'base.html.twig' %}

{% block title %}Détail produit{% endblock %}

{% block body %}
<main>
    <div class="container-1">
        <div class="container-half container-image">
            <img src="{{ asset('images/' ~ product.image ~ '.png') }}" alt="Image du produit" />
        </div>
        <div class="container-half container-text">
            <h2>{{ product.name }}</h2>
            <div class="product-price">
                {{ product.price }} €
            </div>
            <h5>Description</h5>
            <div class="product-description">
                <p>{{ product.descriptionLong }}</p>
            </div>
            <div class="button">
                <a href="{{ path('app_cart_add', {'id': product.id}) }}">
                    <button class="button-submit">Ajouter au panier</button>
                </a>
            </div>
        </div>
    </div>
</main>   
{% endblock %}
