{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<main class="main-background">
    <div class="container-center">
        <div class="container-center-title">
            <h2>Mon Compte</h2>
        </div>
        <div class="container-account">
            <h4>Mes commandes</h4>
            <div class="account-orders">
                <table id="container-orders">
                    <thread>
                        <tr>
                            <th>N°</th>
                            <th>Date</th>
                            <th>Prix</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <div class="order-number">
                                        {{ order.id }}
                                    </div>
                                </td>
                                <td>
                                    <div class="order-number">
                                        {#{{ order.date }}#}Toto
                                    </div>
                                </td>
                                <td>
                                    <div class="order-number">
                                        {#{{ order.price }}#}TotalPrice
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-account">
            <h4>Mon accès API</h4>
            <div class="account-api">
                        
                <div class="button">
                    <a href="{#{{ path('app_', {id: user.id}) }}#}">
                        <button class="button-submit">Activer mon accès API</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-account">        
            <div class="button">
                <a href="{#{{ path('app_', {id: user.id}) }}#}">
                    <button class="button-submit">Supprimer mon compte</button>
                </a>
            </div>
        </div>
    </div>
</main>   
{% endblock %}
