{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<main class="main-background">
    <div class="container-center">
        <div class="container-center-title">
            <h2>Mon Compte</h2>
        </div>
        <div class="container-account">
            <h4>Mes commandes</h4>
            <div class="account-orders">
                <table id="container-orders">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Date</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <div class="order-number">
                                        {{ item.number }}
                                    </div>
                                </td>
                                <td>
                                    <div class="order-number">
                                        {{ item.date }}
                                    </div>
                                </td>
                                <td>
                                    <div class="order-number">
                                        {{ item.total }} €
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-account">
            <h4>Mon accès API</h4>
            <div class="account-api">
                {# {% if user.roles is same as(['ROLE_USER']) %} #}
                {% if 'ROLE_API' in user.roles %}
                    <div class="button">
                        <a href="{{ path('app_apiaccess', {'api': 0}) }}">
                            <button class="button-submit">Désactiver mon accès API</button>
                        </a>
                    </div>
                {% else %}
                    <div class="button">
                        <a href="{{ path('app_apiaccess', {'api': 1}) }}">
                            <button class="button-submit">Activer mon accès API</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container-account">        
            <div class="button">
                <a href="{{ path('app_account_delete') }}" onClick="return confirm('Etes vous sûr de vouloir supprimer votre compte ?');">
                    <button class="button-submit" type="submit">Supprimer mon compte</button>
                </a>
            </div>
        </div>
    </div>
</main>   
{% endblock %}
